<h1>Editing add endereco</h1>

<%= render "form", add_endereco: @add_endereco %>

<br>

<div>
  <%= link_to "Show this add endereco", @add_endereco %> |
  <%= link_to "Back to add enderecos", add_enderecos_path %>
</div>
