<p style="color: green"><%= notice %></p>

<h1>Add enderecos</h1>

<div id="add_enderecos">
  <% @add_enderecos.each do |add_endereco| %>
    <%= render add_endereco %>
    <p>
      <%= link_to "Show this add endereco", add_endereco %>
    </p>
  <% end %>
</div>

<%= link_to "New add endereco", new_add_endereco_path %>
