<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">iFood</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Entregador</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Restaurante e Mercado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Carreiras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">iFood Card</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= button_to "Logout", destroy_user_session_path, method: :get %> </li>
    <% else %>
      <li><%= button_to "Entrar", new_user_session_path %> </li>
      <li><%= button_to "Cadastre-se", new_user_registration_path, method: :get %>
    <% end %>
  </div>
</nav>
<p>Faça mercado no iFood</p>
