<h1>Editing formapagamento</h1>

<%= render "form", formapagamento: @formapagamento %>

<br>

<div>
  <%= link_to "Mostrar essa forma de pagamento", @formapagamento %> |
  <%= link_to "Voltar para forma de pagamento", formapagamentos_path %>
</div>
